# Development files
.git
.github
.gitignore
.vscode
.idea

# Development dependencies
node_modules

# Other files not needed in the package
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# CI/CD
.github/workflows
